<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/viajes/tabs/crear"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ isLoading ? 'Cargando...' : pasajero.nombre }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col>
        <ion-button color="primary" class="ion-margin" (click)="tomarPasajero()">Tomar Pasajero</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
