<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/viajes/tabs/crear"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ isLoading ? 'Cargando...' : pasajero.nombre }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
        <ion-img [src]="pasajero.pasajeroImg" class="ion-padding"></ion-img>
        <p> Nombre: {{ pasajero.nombre }} </p>
        <p> Lugar de Viaje: {{ pasajero.lugarViaje.direccion}} </p>
        <p> Método de Pago: {{ pasajero.metodoPago }} </p>
        <ion-img role="button" (click)="mostrarMapa()" class="ubicacion-img" [src]="pasajero.lugarViaje.imgMapa"></ion-img>
        <ion-button color="primary" class="ion-margin" (click)="tomarPasajero(pasajero.idUsuario)">Tomar Pasajero</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
