<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <div *ngIf="isLoading" class="ion-text-center">
          <ion-spinner color="primary"></ion-spinner>
        </div>
        <div class="ion-text-center" *ngIf="!isLoading && cargarViajes.length <= 0">
          <p>No se han encontrado viajes, solicita uno!</p>
        </div>
        <ion-list *ngIf="!isLoading && cargarViajes.length > 0">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="avatar-auto"></div>
              <mat-card-title> {{cargarViajes[0].lugarViaje.direccion}} </mat-card-title>
              <mat-card-subtitle>Costo por persona: {{cargarViajes[0].costo | currency}} </mat-card-subtitle>
              <mat-card-subtitle>Hora de Salida {{cargarViajes[0].horaSalida | date: "HH:mm"}} </mat-card-subtitle>
            </mat-card-header>
            <div class="ion-text-right">
              <ion-button fill="clear" color="primary"
                [routerLink]="['/','viajes', 'tabs', 'pedir', cargarViajes[0].id]">
                Pedir Viaje
              </ion-button>
            </div>
          </mat-card>
          <ion-item *ngFor="let viaje of cargarViajes.slice(1)"
            [routerLink]="['/','viajes', 'tabs', 'pedir', viaje.id]" detail>
            <ion-thumbnail slot="start">
              <div mat-card-avatar class="avatar-auto"></div>
            </ion-thumbnail>
            <ion-label>
              <mat-card-title> {{viaje.lugarViaje.direccion}} </mat-card-title>
              <mat-card-subtitle>Costo por persona: {{viaje.costo| currency}} </mat-card-subtitle>
              <mat-card-subtitle>Hora de Salida {{viaje.horaSalida | date: "HH:mm"}} </mat-card-subtitle>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <div class="ion-text-center">
      <ion-button class="margin" color="primary" (click)="pedirViaje()">Solicitar Viaje</ion-button>
    </div>
  </ion-grid>

</ion-content>
