.avatar-auto {
  background-image: url('https://www.tuseguro.com/co/co/images/images/Blog/Contenido_Epico/prepara-tu-auto-viaje-5-tips-disfrutar/auto_mapa.jpg');
  background-size: cover;
}

.mat-card{
  background-color: #00527e;
}
