<ion-header translucent=true>
  <ion-toolbar>
    <ion-title class="ion-padding ion-text-center">TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="valFormulario(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
          <ion-label class="ion-padding">
            <h1>Bienvenido/a</h1>
            <img src="/assets/icon/logo.png" />
          </ion-label>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Correo Institucional</ion-label>
              <ion-input type="email" ngModel name="email" required email #emailCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
              <ion-label>Ingresa un correo válido</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" ngModel name="password" required minlength="6" #passwordCtrl="ngModel">
              </ion-input>
            </ion-item>
            <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
              <ion-label>Debe tener al menos 6 caracteres</ion-label>
            </ion-item>
            <ion-button type="submit" color="primary" expand="block" [disabled]="!f.valid">
              {{ isLogin ? 'Iniciar Sesión' : 'Registro' }}</ion-button>
            <ion-button type="button" expand="block" fill="clear" (click)="restablecerPass()">Restablecer Contraseña
            </ion-button>
            <ion-button type="button" color="primary" fill="clear" expand="block" (click)="cambiarModo()">
              Cambiar a {{ isLogin ? 'Registrarse' : 'Iniciar Sesión' }}
            </ion-button>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
