<ion-header>
  <ion-toolbar>
    <ion-title>Solicitar un Viaje</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" class="ion-padding">
          <ion-card class="ion-text-center">
            <ion-card-content>
              <ion-card-header>
                <ion-card-title class="titulo">Selecciona tu destino</ion-card-title>
              </ion-card-header>
              <img src="/assets/icon/Map.png" />
              <ion-item>
                <ion-label position="floating">¿A donde te diriges?</ion-label>
                <ion-input type="text" formControlName="lugar"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Selecciona Método Pago</ion-label>
                <ion-select [ngModel]="'Débito'" name="metodoPago" formControlName="metodoPago">
                  <ion-select-option value="Débito">Débito</ion-select-option>
                  <ion-select-option value="Crédito">Crédito</ion-select-option>
                  <ion-select-option value="Transferencia">Transferencia</ion-select-option>
                </ion-select>
              </ion-item>
              <app-location-picker></app-location-picker>
              <button mat-raised-button color="primary" type="submit" (click)="pedirViaje()"
                [disabled]="!form.valid">Buscar Viaje!</button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
