<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          TeLlevoApp
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/viajes/tabs/pedir">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Solicita Tu Viaje</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="historial">
            <ion-icon name="today-outline" slot="start"></ion-icon>
            <ion-label>Historial de Viajes</ion-label>
          </ion-item></ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="cerrarSesion()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
