<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">TeLlevoApp</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/viajes/tabs/crear/nuevo">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2">
          <ion-list>
            <ion-item *ngFor="let pasajero of cargarPasajeros?.slice(1)" [routerLink]="['/','viajes', 'tabs', 'crear', pasajero?.idUsuario]" detail>
              <ion-thumbnail slot="start">
                <ion-img [src]="pasajero?.pasajeroImg"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2> {{pasajero?.lugarViaje }} </h2>
                <p>Método de Pago: {{pasajero?.metodoPago}} </p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
